<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593605784768-p4msb0a5nngq693k0saa8g9blcu6ui3f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593605784768-p4msb0a5nngq693k0saa8g9blcu6ui3f</string>
	<key>API_KEY</key>
	<string>AIzaSyAcbRd0HB_lvW4TJuuSATKdAnQ0cBfzg6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>593605784768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bookies.fullbull.fullBelly</string>
	<key>PROJECT_ID</key>
	<string>hunger-hunt-1</string>
	<key>STORAGE_BUCKET</key>
	<string>hunger-hunt-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593605784768:ios:063c3a8c4935a1402be925</string>
</dict>
</plist>